<div class="blurring dimmable image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <div class="ui inverted button">Add To Wishlist</div>
      </div>
    </div>
  </div>
  <img [src]="artwork.mediaPath">
</div>
<div class="extra content">
  <div class="ui icon buttons basic mini">
    <button class="ui button "><i class="align shop icon"></i></button>
    <button class="ui button" (click)="onSelected.emit(artwork)"><i class="align info icon"></i></button>
    <button class="ui button "><i class="align heart icon"></i></button>
  </div>
  <div class="star-rating">
    Rating :
    <app-rating></app-rating>
  </div>
</div>
