<div class="ui link three cards" >
<div class="ui card" *ngFor="let showroom of showrooms" routerLink="/showroom-detail/{{showroom.id}}">
  <div class="content">
    <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/large/elliot.jpg"> {{showroom.title}}
  </div>
  <div class="image">
    <img src="https://semantic-ui.com/images/wireframe/image.png">
  </div>
  <!-- <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i> 3 comments
  </div> -->
  <!-- <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
      <input type="text" placeholder="Add Comment...">
    </div>
  </div> -->
</div>
</div>
