.main.container {
  margin-top: 7em;
}

.pull-right {
  float: right;
}

.my-pagination {
  margin: 50px;
}

#body-content {
  min-height: 600px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.main-segment{
  padding-bottom: 50px;
}
/*Override default */
.main.container{
  margin-top: 5em;
}
