<!--The whole content below can be removed with the new code.-->
<div class="ui container">
  <div class="ui top fixed menu inverted">
    <div class="ui container">
      <div class="item header" >
        <i class="skyatlas icon"></i><a routerLink="" >Apollon</a>
      </div>
      <a class="item">Galleries</a>
      <a class="item">Events</a>
      <a class="item">Contact</a>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
      <div class="item right">
        <div class="ui red button" id="signup">Sign up</div>
      </div>
      <div class="item">
        <div class="ui button " id="login">Log-in</div>
      </div>
      <button class="ui icon button item" id="wishlistButton">
        <i class="icon opencart "></i>
    </button>
    <div class="ui flowing popup top right transition hidden" id="wishlist">
    <div class="ui three column divided center aligned grid">
      <div class="column">
        <h4 class="ui header">Basic Plan</h4>
        <p><b>2</b> projects, $10 a month</p>
        <div class="ui button">Choose</div>
      </div>
      <div class="column">
        <h4 class="ui header">Business Plan</h4>
        <p><b>5</b> projects, $20 a month</p>
        <div class="ui button">Choose</div>
      </div>
      <div class="column">
        <h4 class="ui header">Premium Plan</h4>
        <p><b>8</b> projects, $25 a month</p>
        <div class="ui button">Choose</div>
      </div>
    </div>
  </div>
      <!-- <div class="item">
          <i class="right cart open icon"></i>
      </div> -->
    </div>
  </div>
</div>
<div class="ui main container">

  <div class="ui grid stackable">
  <div class="three wide column">
    <!-- <div class="ui vertical fluid tabular menu">
      <a class="item" routerLink="/artist" routerLinkActive="active">
        Artists
      </a>
      <a class="item" routerLink="/showroom" routerLinkActive="active">
        Showrroms
      </a>
      <a class="item"  routerLink="/gallery" routerLinkActive="active">
        Galleries
      </a>
      <a class="item"  routerLink="/collection" routerLinkActive="active">
        Collections
      </a>
    </div> -->
    <div class="ui inverted vertical fluid pointing menu">
  <a class="item" routerLink="">
    <i class="home icon"></i>  Home
  </a>
  <a class="item" routerLink="/showroom" routerLinkActive="active">
     <i class="envelope icon"></i> Showroom
  </a>
  <a class="item">
     <i class="user icon"></i> Friends
  </a>
  <a class=" item">
    <i class="home icon"></i>  Home
  </a>
  <a class="item">
     <i class="envelope icon"></i> Messages
  </a>
  <a class="item">
     <i class="user icon"></i> Friends
  </a>
  <a class=" item">
    <i class="home icon"></i>  Home
  </a>
  <a class="item">
     <i class="envelope icon"></i> Messages
  </a>
  <a class="item">
     <i class="user icon"></i> Friends
  </a>
</div>
  </div>
  <div class="thirteen wide stretched column" id="body-content">

    <div class="ui segment raised main-segment">
        <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="two wide column">
    <div class="ui vertical menu">
  <a class="active teal item">
    Notifications
    <div class="ui teal left pointing label">1</div>
  </a>
  <a class="item">
    Spam
    <div class="ui label">51</div>
  </a>
  <a class="item">
    Updates
    <div class="ui label">1</div>
  </a>
  <div class="item">
    <div class="ui transparent icon input">
      <input type="text" placeholder="Search mail...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
  </div> -->
</div>


</div>
<!-- Footer -->
<div class="ui vertical footer segment inverted" id="footer">
    <div class="ui container">
      © 2017 APOLLON ALL RIGHTS RESERVED
    </div>
  </div>

<!-- Login Modal -->
<div class="ui modal tiny" id="login-modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text" name="first-name" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="text" name="last-name" placeholder="Password">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox">
          <label>Remember me</label>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui red right  button">
      Login
    </div>
  </div>
</div>
<!-- SignUp Modal -->
<div class="ui modal" id="signup-modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Name</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="shipping[first-name]" placeholder="First Name">
          </div>
          <div class="field">
            <input type="text" name="shipping[last-name]" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>State</label>
          <select class="ui fluid dropdown">
            <option value="">State</option>
        <option value="AL">Sousse</option>
        <option value="AK">Tunis</option>
        <option value="AZ">Ariana</option>
        <option value="AR">Sfax</option>
        <option value="CA">Gasfa</option>
        <option value="CO">Kasserine</option>
        <option value="CT">Tataouine</option>
        <option value="DE">Touzer</option>
        <option value="DC">Monastir</option>
        <option value="FL">Gebes</option>
        <option value="GA">Sidi Boutid</option>
        <option value="HI">Ben Arous</option>
          </select>
        </div>
        <div class="field">
          <label>Country</label>
          <div class="ui fluid search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Select Country</div>
            <div class="menu">
              <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
              <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
              <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
              <div class="item" data-value="cs"><i class="cs flag"></i>Serbia</div>
              <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
              <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
              <div class="item" data-value="ua"><i class="ua flag"></i>Ukraine</div>
              <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
              <div class="item" data-value="us"><i class="us flag"></i>United States</div>
              <div class="item" data-value="vn"><i class="vn flag"></i>Vietnam</div>

            </div>
          </div>
        </div>
      </div>
      <h4 class="ui dividing header">Billing Information</h4>
      <div class="field">
        <label>Card Type</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="card[type]">
          <div class="default text">Type</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="visa">
              <i class="visa icon"></i> Visa
            </div>
            <div class="item" data-value="amex">
              <i class="amex icon"></i> American Express
            </div>
            <div class="item" data-value="discover">
              <i class="discover icon"></i> Discover
            </div>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="seven wide field">
          <label>Card Number</label>
          <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
        </div>
        <div class="three wide field">
          <label>CVC</label>
          <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
        </div>
        <div class="six wide field">
          <label>Expiration</label>
          <div class="two fields">
            <div class="field">
              <select class="ui fluid search dropdown" name="card[expire-month]">
                <option value="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="field">
              <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui primary right  button">
      signup
    </div>
  </div>
</div>
